// general

$primary-bg: #1F75CB;
$hover-bg: #1068BF;
$secondary: #FFFFFF;
$primary-font: #1C1C1C;
$disabled-font: #8E8E8E;

@mixin display($main) {
  display: flex;
  justify-content: $main;
  align-items: center;
}

%btn {
  padding: 12px 16px;
  cursor: pointer;
  background-color: $primary-bg;
  border: 1px solid $secondary;
  border-radius: 4px;
  color: $secondary;

  &:hover:not(.header__btn_active) {
    background-color: $hover-bg;
  }
}

%base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $primary-font;
}

//main

body {
  @extend %base;
}

.header {
  @include display(flex-end);
  background-color: $primary-bg;
  height: 42px;
  padding: 24px;
  gap: 24px;
}

.header__list {
  @include display(center);
  gap: 24px;
  list-style: none;
  height: 42px;
}

.header__btn {
  @extend %btn;
}

.header__btn_active {
  background-color: $secondary;
  color: $primary-font;
}

.header__profile {
  @include display(center);
  padding: 12px 16px;
  cursor: pointer;
  gap: 8px;
  height: 42px;
}

.header__logo, .header__dropdown {
  height: 24px;
}

.header__logo img {
  border-radius: 24px;
}